.company_container{
  padding: calc(100/1280 * 100vw) calc(180/1280 * 100vw) calc(100/1280 * 100vw);
  background-image: url("../img/top/estate_bg.png");
  background-size: cover;
  background-repeat: repeat;
  background-color: #D7E1DE;
  background-position: center center;
}
.title_wrap{
  margin-bottom: 7vw;
}
.company_table {
  border-collapse: collapse;
  width: 100%;
}
.company_table th, .company_table td {
  padding: calc(17/1280 * 100vw) 0;

}
.company_table th {
  font-weight: bold;
  width: 28%;
  text-align: start;
  padding-left: calc(15/1280 * 100vw);
}
.company_table td {
  font-weight: bold;
  width: 72%;
}
.company_table tr {
  width: 100%;
  border-bottom: 1px solid #0F364A;
}
.company_table tr:last-child{
  border: none;
}