.estate_container {
  padding: calc(100/1280 * 100vw) calc(140/1280 * 100vw);
  background-image: url("../img/top/estate_bg.png");
  background-repeat: repeat;
  background-color: #D7E1DE;
  background-position: center center;
}

.estate_buttons {
  display: flex;
  align-items: center;
  width: fit-content;
}

.estate_buttons .button {
  background-color: white;
  border-radius: 100px;
  border: 1px solid #0F364A;
  padding: calc(10/1280 * 100vw) calc(45/1280 * 100vw);
  margin: 0 calc(7/1280 * 100vw);
}

.estate_buttons .button:first-child {
  background-color: #0F364A;
}

.estate_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.estate_item .label {
  padding: calc(10/1280 * 100vw) calc(45/1280 * 100vw) calc(10/1280 * 100vw) calc(35/1280 * 100vw);
  border-top-right-radius: 30px;
  width: fit-content;
}

.estate_card {
  padding: calc(18/1280 * 100vw) calc(18/1280 * 100vw);
  background-color: white;
  width: calc(444/1280 * 100vw);
  border-radius: 20px;
  border-top-left-radius: 0;
  display: flex;
  align-items: center;
}

.estate_card .house_img {
  width: calc(232/1280 * 100vw);
  height: calc(200/1280 * 100vw);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.info_box{
  margin-left:  calc(20/1280 * 100vw);
}
.estate_card .info_item .hash {
  margin-bottom:  calc(25/1280 * 100vw);
}
.estate_card .info_item .hash span {
  margin-right:  calc(10/1280 * 100vw);
}

.estate_card .info_item .address {
  padding-bottom: calc(12/1280 * 100vw);
  display: flex;
  align-items: start;
}

.estate_card .info_item .address .pin {
  width: calc(8/1280 * 100vw);
  height: calc(14/1280 * 100vw);
  position: relative;
  margin-right: 5px;
}

.estate_card .area{
  padding: calc(15/1280 * 100vw) 0;
  border-top: 1px solid #0F364A;
}

.estate_card .price {
  display: flex;
  align-items: end;
  padding-top: calc(10/1280 * 100vw);
  padding-left: calc(5/1280 * 100vw);
  border-top: 1px solid #0F364A;
}

.estate_card .price span:nth-child(1) {
  margin-bottom: 2px;
}

.estate_card .price span:nth-child(2) {
  margin: 0 calc(5/1280 * 100vw) 0 calc(10/1280 * 100vw);
}

.estate_card .price span:nth-child(3) {
  margin-bottom: 2px;
}

.ready_built {
  background-color: #A5BCBF;
}

.land {
  background-color: #E0D1C2;
}
