/* -----------------------------------------------
fvセクション
----------------------------------------------- */
.fv_container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  background-color: black;
  margin-bottom: calc(150/1280 * 100vw);
}

.fv_bg_left {
  width: 50%;
  height: 100vh;
  background-image: url("../img/top/fv_left.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: unset;
  background-position: center center;
  opacity: 0.7;
}

.fv_bg_right {
  width: 50%;
  height: 100vh;
  background-image: url("../img/top/fv_right.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: unset;
  background-position: center center;
  opacity: 0.7;
}

.fv_wrap{
  position: absolute;
  bottom: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
}

.fv_container h2 {
  margin-left: calc(60/1280 * 100vw);
  letter-spacing: 0.3em;
}

.fv_container .fv_item {
  padding: calc(13/1280 * 100vw) calc(30/1280 * 100vw);
  display: flex;
  align-items: center;
  background-color: #0F364A;
  width: calc(736/1280 * 100vw);
  border-top-right-radius: 30px;
}

.fv_span {
  display: flex;
}

.fv_item .date {
  margin-left: calc(45/1280 * 100vw);
  padding-right: calc(10/1280 * 100vw);
  border-right: 1px solid white;
}

.fv_item .text {
  padding-left: calc(10/1280 * 100vw);
}

.fv_mark_outline {
  position: absolute;
  right: calc(50/1280 * 100vw);
  bottom: calc(40/1280 * 100vw);
}

.fv_mark {
  width: calc(125/1280 * 100vw);
  height: calc(125/1280 * 100vw);
  position: relative;
}

@media (max-width: 768px) {
  .fv_container {
    flex-flow: column;
    height: 200vh;
    margin-bottom: calc(450/1280 * 100vw);
  }

  .fv_bg_left,
  .fv_bg_right {
    width: 100%;
  }

  .fv_container .fv_item {
    width: calc(100vw - 6vw);
    flex-flow: column;
    align-items: start;
    padding: 4vw 3vw;
    border-radius: 0;
  }

  .fv_container h2 {
    top: unset;
    bottom: 19vw;
  }

  .fv_item .date {
    margin-left: 0;
  }

  .fv_item .news {
    margin-bottom: 2vw;
  }

  .fv_mark_outline {
    bottom: 19vw;
  }

  .fv_mark {
    width: 20vw;
    height: 20vw;
  }

  .fv-container.f-36 {
    font-size: 41px;
  }
  .fv_wrap .mb-40{
    margin-bottom: 3vw !important;
  }
}
@media (max-width: 480px) {
  .fv_container {
    height: 100vh;
  }
  .fv_bg_left,
  .fv_bg_right {
    height: 50vh;
  }
}
/* -----------------------------------------------
lineupセクション
----------------------------------------------- */

.lineup_container {
  padding: 0 calc(140/1280 * 100vw);
}

.sample_wrap {
  display: flex;
  justify-content: space-between;
}

.sample_wrap .sample_item {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.sample_wrap .sample_img {
  width: calc(480/1280 * 100vw);
  height: calc(300/1280 * 100vw);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.sample_wrap .title_img {
  width: calc(140/1280 * 100vw);
  height: calc(40/1280 * 100vw);
  position: relative;
}

@media (max-width: 768px) {
  .lineup_container {
    padding: 0 calc(30/375 * 100vw);
  }
  .sample_wrap {
    flex-flow: column;
  }

  .sample_wrap .sample_item {
    margin-bottom: 10vw;
  }

  .sample_wrap .sample_img {
    width: 83.5vw;
    height: 48vw;
    border-radius: 8vw;
  }

  .sample_wrap .title_img {
    width: 30vw;
    height: 10vw;
  }

  .pl-24 {
    padding-left: 10vw;
  }
}

/* -----------------------------------------------
commentセクション
----------------------------------------------- */

.comment_container {
  padding: calc(130/1280 * 100vw) calc(140/1280 * 100vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/top/lineup_bg.png");
  background-repeat: repeat;
  background-color: #BEC1BD;
  background-position: center center;
}

.comment_container .text_item {
  width: calc(500/1280 * 100vw);
}

.comment_container .room_img {
  width: calc(454/1280 * 100vw);
  height: calc(660/1280 * 100vw);
  position: relative;
  border-radius: 40px;
  border: 10px solid white;
  overflow: hidden;
}

.readmore:after {
  content: "";
  width: 30px;
  height: 30px;
  text-align: center;
  display: block;
  background: url(../img/top/readmore.png) no-repeat center;
  background-size: contain;
  transition: .3s;
  transform: rotate(90deg);
}
.readmore.on-click:after {
  transform: rotate(270deg);
}
.readmore .open {
  display: block;
}
.readmore.on-click .open {
  display: none;
}
.readmore .close {
  display: none;
}
.readmore.on-click .close {
  display: block;
}

@media (max-width: 768px) {
  .comment_container .text_item {
    width: 100%;
    margin-bottom: 6vw;
}
.comment_container .room_img {
  width: 60vw;
  height: 75vw;
}
.comment_container .room_img {
  margin-bottom: 6vw;
}

.comment_container {
  padding: calc(280/1280 * 100vw) calc(140/1280 * 100vw);
}
.comment_container .text_item h3{
  margin-bottom: 6vw;
}
}

/* -----------------------------------------------
estateセクション
----------------------------------------------- */
.estate_container {
  padding: calc(100/1280 * 100vw) calc(130/1280 * 100vw);
  background-image: url("../img/top/estate_bg.png");
  background-repeat: repeat;
  background-color: #D7E1DE;
  background-position: center center;
}

.estate_buttons {
  display: flex;
  align-items: center;
  width: fit-content;
}

.estate_buttons .button {
  background-color: white;
  border-radius: 100px;
  border: 1px solid #0F364A;
  padding: calc(10/1280 * 100vw) calc(45/1280 * 100vw);
  margin: 0 calc(7/1280 * 100vw);
}

.estate_buttons .button:first-child {
  background-color: #0F364A;
}

.estate_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.estate_item .label {
  padding: calc(10/1280 * 100vw) calc(45/1280 * 100vw) calc(10/1280 * 100vw) calc(35/1280 * 100vw);
  border-top-right-radius: 30px;
  width: fit-content;
}

.estate_card {
  padding: calc(18/1280 * 100vw) calc(18/1280 * 100vw);
  background-color: white;
  width: fit-content;
  border-radius: 20px;
  border-top-left-radius: 0;
}

.estate_card .house_img {
  width: calc(273/1280 * 100vw);
  height: calc(185/1280 * 100vw);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.estate_card .info_item .address {
  padding-bottom: calc(20/1280 * 100vw);
  display: flex;
  align-items: center;
}

.estate_card .info_item .address .pin {
  width: calc(10/1280 * 100vw);
  height: calc(16/1280 * 100vw);
  position: relative;
  margin-right: 5px;
}

.estate_card .price {
  display: flex;
  align-items: end;
  padding-top: calc(10/1280 * 100vw);
  padding-left: calc(5/1280 * 100vw);
  border-top: 1px solid #0F364A;
}

.estate_card .price span:nth-child(1) {
  margin-bottom: 2px;
}

.estate_card .price span:nth-child(2) {
  margin: 0 calc(5/1280 * 100vw) 0 calc(10/1280 * 100vw);
}

.estate_card .price span:nth-child(3) {
  margin-bottom: 2px;
}

.ready_built {
  background-color: #A5BCBF;
}

.land {
  background-color: #E0D1C2;
}

@media (max-width: 768px) {
  .estate_container {
    padding: calc(350/1280 * 100vw) calc(70/1280 * 100vw);
  }

  .estate_card .house_img {
    width: 37vw;
    height: 56vw;
  }

  .estate_card {
    padding: calc(30/1280 * 100vw) calc(33/1280 * 100vw) calc(80/1280 * 100vw);
  }

  .estate_buttons .button {
    padding: calc(20/1280 * 100vw) calc(75/1280 * 100vw);
    margin: 0 calc(26/1280 * 100vw);
  }

  .estate_item .label {
    padding: calc(20/1280 * 100vw) calc(65/1280 * 100vw) calc(20/1280 * 100vw) calc(55/1280 * 100vw);
  }

  .info_item {
    padding-left: 2vw;
  }

  .estate_card .info_item .address {
    padding-bottom: calc(30/1280 * 100vw);
    align-items: start;
  }

  .estate_card .info_item .address .pin {
    width: calc(30/1280 * 100vw);
    height: calc(46/1280 * 100vw);
  }

  .estate_card .price {
    justify-content: center;
    padding-top: calc(30/1280 * 100vw);
  }

}

/* -----------------------------------------------
teamセクション
----------------------------------------------- */
.team_container {
  padding: calc(77/1280 * 100vw) calc(133/1280 * 100vw) calc(77/1280 * 100vw) calc(180/1280 * 100vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0F364A;
}

.team_container .icon_img {
  width: calc(64/1280 * 100vw);
  height: calc(64/1280 * 100vw);
  position: relative;
}

.team_container .team_img {
  width: calc(600/1280 * 100vw);
  height: calc(320/1280 * 100vw);
  position: relative;
  border-radius: 40px;
  border: 10px solid white;
  overflow: hidden;
}

@media (max-width: 768px) {
  .team_container {
    padding: 16vw 5vw;
    flex-flow: column;
  }

  .team_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 11vw;
  }

  .team_container .icon_img {
    width: 15vw;
    height: 15vw;
    margin-bottom: 0;
    margin-right: 6vw;
  }

  .team_container .mb-20 {
    margin-bottom: 3vw;
  }

  .team_container .team_img {
    width: 70vw;
    height: 70vw;
    border: 3vw solid white;
    border-radius: 14vw;
  }
  .team_container .more_button {
    background-color: white;
    margin-top: 14vw;
}
}

/* -----------------------------------------------
newsセクション
----------------------------------------------- */
.news_container {
  padding: calc(100/1280 * 100vw);
  background-image: url("../img/top/lineup_bg.png");
  background-repeat: repeat;
  background-color: #BEC1BD;
  background-position: center center;
}

.news_wrap {
  width: calc(890/1280 * 100vw);
}

.news_wrap .news_items {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #707070;
}

.news_wrap .news_items:last-child {
  border-bottom: 1px solid #707070;
}

.news_wrap .news_img {
  width: calc(100/1280 * 100vw);
  height: calc(95/1280 * 100vw);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: calc(20/1280 * 100vw) calc(80/1280 * 100vw) calc(20/1280 * 100vw) calc(23/1280 * 100vw);
  background-color: white;
}

@media (max-width: 768px) {
  .news_container {
    padding: 24vw 0;
  }

  .news_wrap {
    width: 100%;
  }

  .news_wrap .news_img {
    width: 20vw;
    height: 20vw;
    margin: 4vw 13vw 4vw 7vw;
  }

  .news_contents {
    margin-right: 5vw;
  }
}

/* -----------------------------------------------
galleryセクション
----------------------------------------------- */
.gallery_container {
  padding: calc(114/1280 * 100vw) calc(90/1280 * 100vw);
}

.swiper-wrapper {
  margin-left: -1%;
  position: relative;
}

.swiper-slide {
  width: 33.5% !important;
  border: 1px solid #0F364A;
}

.swiper-slide .gallery_item {
  padding: calc(80/1280 * 100vw) calc(33/1280 * 100vw);
  position: relative;
  transition: all .5s ease;
}

.swiper-slide .gallery_item:hover {
  background-color: #c5d1d7;
}

.swiper-slide .gallery_img {
  width: calc(300/1280 * 100vw);
  height: calc(300/1280 * 100vw);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.swiper-slide .gallery_no {
  padding: 5px calc(15/1280 * 100vw);
  border: 1px solid #0F364A;
  border-radius: 100px;
  width: fit-content;
}

@media (max-width: 768px) {
  .gallery_container {
    padding: 20vw 0;
}
.swiper-wrapper {
  margin-left: -2%;
}
.swiper-slide {
  width: 101% !important;
}
.swiper-slide .gallery_img {
  width: 81vw;
  height: 81vw;
}
.swiper-slide .gallery_item {
  padding: calc(160/1280 * 100vw) calc(128/1280 * 100vw);
}
.gallery_container .f-18 {
  font-size: 4.5vw;
}
.swiper-button-next::after {
  margin-right: 0vw !important;
}
.swiper-button-prev::after {
  margin-left: 0vw !important;
}
.swiper-slide .gallery_no {
  padding: 8px calc(30/1280 * 100vw);
}
}

/* -----------------------------------------------
スワイパー
----------------------------------------------- */

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  height: 50px;
  width: 50px;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
  z-index: 10;
  position: absolute;
  margin-left: 4vw;
}

.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
  z-index: 10;
  position: absolute;
  margin-right: 4vw;
}

/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  background-image: url(../img/top/gallery_pre.png);
}

/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  background-image: url(../img/top/gallery_next.png);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 35vw;
}
.swiper-pagination-bullet {
  /*ドットの色を変更*/
  background-color: #0F364A;
}
.swiper-pagination-bullet {
    opacity: 0.1;
    border: 1px solid #0F364A;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
  }


@media (max-width: 480px) {

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 37px;
  margin: auto;
  width: 37px;
  z-index: 10;
  position: absolute;
  margin-left: 4vw;
}

.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 37px;
  margin: auto;
  width: 37px;
  z-index: 10;
  position: absolute;
  margin-right: 4vw;
}
.swiper-button-next::after {
  margin-right: -2vw !important;
}
.swiper-button-prev::after {
  margin-left: -2vw !important;
}

}


/* -----------------------------------------------
voiceセクション
----------------------------------------------- */
.voice_container {
  padding: calc(117/1280 * 100vw) calc(150/1280 * 100vw) calc(143/1280 * 100vw) calc(150/1280 * 100vw);
  background-image: url("../img/top/voice_bg.png");
  background-repeat: repeat;
  background-color: #D7E1DE;
  background-position: center center;
}

.voice_wrap {
  width: calc(985/1280 * 100vw);
  height: calc(311/1280 * 100vw);
  background-color: white;
  border-radius: 30px;
}


@media (max-width: 768px) {
  .voice_container {
    padding: 20vw 0;
  }

  .voice_container h2,
  .voice_container p {
    text-align: center;
  }

  .voice_wrap {
    width: 63vw;
    height: 63vw;
    background-color: white;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 11vw;
  }
}