/* -----------------------------------------------
fvセクション
----------------------------------------------- */
.fv_container{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  background-color:black;
  margin-bottom: calc(150/1280 * 100vw);
}

.fv_bg_left{
  width: 50%;
  height: 100vh;
  background-image: url("../img/top/fv_left.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: unset;
  background-position: center center;
  opacity: 0.7;
}
.fv_bg_right{
  width: 50%;
  height: 100vh;
  background-image: url("../img/top/fv_right.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: unset;
  background-position: center center;
  opacity: 0.7;
}

.fv_container h2{
  position: absolute;
  left: calc(60/1280 * 100vw);
  top: calc(400/1280 * 100vw);
  letter-spacing: 0.3em;
}

.fv_container .fv_item{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: calc(13/1280 * 100vw) calc(30/1280 * 100vw);
  display: flex;
  align-items: center;
  background-color: #0F364A;
  width: calc(736/1280 * 100vw);
  border-top-right-radius: 30px;
}
.fv_item .date{
  margin-left: calc(45/1280 * 100vw);
  padding-right: calc(10/1280 * 100vw);
  border-right: 1px solid white;
}
.fv_item .text{
  padding-left: calc(10/1280 * 100vw);
}

/* -----------------------------------------------
lineupセクション
----------------------------------------------- */

.lineup_container{
  padding: 0 calc(140/1280 * 100vw);
}

.sample_wrap{
  display: flex;
  justify-content: space-between;
}
.sample_wrap .sample_item{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.sample_wrap .sample_img{
  width: calc(480/1280 * 100vw);
  height: calc(300/1280 * 100vw);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.sample_wrap .title_img{
  width: calc(140/1280 * 100vw);
  height: calc(40/1280 * 100vw);
  position: relative;
}

/* -----------------------------------------------
commentセクション
----------------------------------------------- */

.comment_container{
  padding: calc(130/1280 * 100vw) calc(140/1280 * 100vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/top/lineup_bg.png");
  background-size: cover;
  background-repeat: repeat;
  background-color: #BEC1BD;
  background-position: center center;
}
.comment_container .text_item{
  width: calc(500/1280 * 100vw);
}
.comment_container .room_img{
  width: calc(454/1280 * 100vw);
  height: calc(660/1280 * 100vw);
  position: relative;
  border-radius: 40px;
  border: 10px solid white;
  overflow: hidden;
}

/* -----------------------------------------------
teamセクション
----------------------------------------------- */
.team_container{
  padding: calc(77/1280 * 100vw) calc(133/1280 * 100vw) calc(77/1280 * 100vw) calc(180/1280 * 100vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team_container .icon_img{
  width: calc(64/1280 * 100vw);
  height: calc(64/1280 * 100vw);
  position: relative;
}