body {
    color: #0F364A;
    height: 100vh;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-style: normal;
    letter-spacing: 0.2em;
}

a {
    text-decoration: none;
    display: block;
    color:inherit
}

p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    color: black;
    border: none;
    background-color: white;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

.img>img {
    width: 100%;
    height: 100%;
}

input {
    padding: 0;
}

dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sp {
    display: none !important;
}

@media (max-width: 768px) {
    .sp {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .pc {
        display: none !important;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posi-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* フォントサイズ */
.f-10 {
    font-size: clamp(10px, 0.71428vw, 22px);
}

.f-12 {
    font-size: clamp(10px, 0.8571vw, 22px);
}

.f-14 {
    font-size: clamp(10px, 1vw, 24px);
}

.f-16 {
    font-size: clamp(10px, 1.14285vw, 26px);
}

.f-18 {
    font-size: clamp(10px, 1.2857vw, 28px);
}

.f-20 {
    font-size: clamp(10px, 1.42857vw, 30px);
}

.f-22 {
    font-size: clamp(10px, 1.57142vw, 30px);
}

.f-24 {
    font-size: clamp(10px, 1.71428vw, 34px);
}

.f-26 {
    font-size: clamp(10px, 1.85714vw, 36px);
}

.f-28 {
    font-size: clamp(10px, 2vw, 38px);
}

.f-30 {
    font-size: clamp(10px, 2.14285vw, 40px);
}

.f-32 {
    font-size: clamp(10px, 2.28571vw, 42px);
}

.f-36 {
    font-size: clamp(10px, 2.57142vw, 46px);
}

.f-40 {
    font-size: clamp(10px, 2.8571vw, 50px);
}

.f-45 {
    font-size: clamp(10px, 3.21428vw, 55px);
}

.f-50 {
    font-size: clamp(10px, 3.5714vw, 70px);
}

.f-60 {
    font-size: clamp(10px, 4.2857vw, 70px);
}

@media (max-width: 768px) {
    .f-10 {
        font-size: 10px;
    }

    .f-12 {
        font-size: 2.7vw;
    }

    .f-14 {
        font-size: 3vw;
    }

    .f-16 {
        font-size: 3.3vw;
    }

    .f-18 {
        font-size: 13px;
    }

    .f-20 {
        font-size: 4vw;
    }

    .f-22 {
        font-size: 4.1vw;
    }

    .f-24 {
        font-size: 4.2vw;
    }

    .f-26 {
        font-size: 4.6vw;
    }

    .f-28 {
        font-size: 20px;
    }

    .f-30 {
        font-size: 20px;
    }

    .f-32 {
        font-size: 4.7vw;
    }

    .f-36 {
        font-size: 5vw;
    }

    .f-40 {
        font-size: 20px;
    }

    .f-45 {
        font-size: clamp(10px, 12vw, 55px);
    }

    .f-50 {
        font-size: 9vw;
    }

    .f-60 {
        font-size: 30px;
    }
}

/* -----------------------------------------------
マージン
----------------------------------------------- */
.mb-10 {
    margin-bottom: 0.7812vw;
}

.mb-20 {
    margin-bottom: 1.4285vw;
}

.mb-30 {
    margin-bottom: 2.1428vw;
}

.mb-40 {
    margin-bottom: 2.8571vw;
}

.mb-50 {
    margin-bottom: 3.5714vw;
}

.mb-60 {
    margin-bottom: 4.2857vw;
}

.mb-70 {
    margin-bottom: 5vw;
}

.mb-80 {
    margin-bottom: 5.7142vw;
}

.mb-100 {
    margin-bottom: 7.1428vw;
}

@media (max-width: 768px) {
    .mb-10 {
        margin-bottom: 1.812vw;
    }
    .mb-20 {
        margin-bottom: 4vw;
    }

    .mb-30 {
        margin-bottom: 15px;
    }

    .mb-40 {
        margin-bottom: 30px;
    }

    .mb-50 {
        margin-bottom: 15vw;
    }

    .mb-60 {
        margin-bottom: 18vw;
    }

    .mb-70 {
        margin-bottom: 45px;
    }

    .mb-80 {
        margin-bottom: 50px;
    }

    .mb-100 {
        margin-bottom: 50px;
    }
}


/* -----------------------------------------------
line-hight
----------------------------------------------- */
.lh1 {
    line-height: 1;
}

.lh1\.25 {
    line-height: 1.25;
}

.lh1\.5 {
    line-height: 1.5;
}

.lh1\.75 {
    line-height: 1.75;
}

.lh2 {
    line-height: 2;
}


/* -----------------------------------------------
文字太さ
----------------------------------------------- */
.fb {
    font-weight: 700;
}

.fsb {
    font-weight: 600;
}

.fm {
    font-weight: 500;
}

.fr {
    font-weight: 400;
}

.fl {
    font-weight: 300;
}

/* -----------------------------------------------
文字位置
----------------------------------------------- */
.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.tj {
    text-align: justify;
}

/* -----------------------------------------------
縦書き
----------------------------------------------- */
.ver {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;

    &.ver_part {
        text-orientation: sideways;
    }
}

/* -----------------------------------------------
要素の位置指定
----------------------------------------------- */
.mc {
    margin: auto;
}

.mxc {
    margin-left: auto;
    margin-right: auto;
}

.myc {
    margin-top: auto;
    margin-bottom: auto;
}

.mr {
    margin-left: auto;
    margin-right: 0;
}

.ml {
    margin-left: 0;
    margin-right: auto;
}

/* -----------------------------------------------
文字色
----------------------------------------------- */
.grey {
    color: #949292;
}

.black {
    color: black;
}

.white {
    color: white;
}

.blue {
    color: #0000EE;
}


/* -----------------------------------------------
display要素
----------------------------------------------- */
.block {
    display: block;
}

/* -----------------------------------------------
  position要素
  ----------------------------------------------- */
.relative {
    position: relative;
}

/* -----------------------------------------------
  js要素
  ----------------------------------------------- */
.displayOn {
    opacity: 1 !important;
    z-index: 3;
}

.indexOn {
    z-index: 120 !important;
}

/* -----------------------------------------------
  font種類
  ----------------------------------------------- */

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

/* -----------------------------------------------
  font種類
  ----------------------------------------------- */

.pl-24{
    padding-left: calc(24/1280 * 100vw);
}

/* -----------------------------------------------
共通パーツ
----------------------------------------------- */

.more_button {
    padding: calc(20/1280 * 100vw) calc(45/1280 * 100vw);
    background-color: #0F364A;
    width: calc(300/1280 * 100vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
  }
  
  .more_button .arrow_img {
    width: calc(78/1280 * 100vw);
    height: calc(10/1280 * 100vw);
    position: relative;
  }
  
  .onlytop {
    display: none;
  }
  
  .common {
    display: none;
  }
  
  a:hover {
    opacity: 0.8;
    transition: all .5s ease;
  }
  
  @media (max-width: 768px) {
    .more_button {
      padding: calc(40/1280 * 100vw) calc(65/1280 * 100vw);
      width: calc(700/1280 * 100vw);
    }
  
    .more_button .arrow_img {
      width: calc(188/1280 * 100vw);
      height: calc(30/1280 * 100vw);
    }
  }

  