.estate_container {
  padding: calc(100/1280 * 100vw) calc(140/1280 * 100vw);
  background-image: url("../img/top/estate_bg.png");
  background-repeat: repeat;
  background-color: #D7E1DE;
  background-position: center center;
}

.president_wrap{
  padding-top: calc(40/1280 * 100vw);
  padding-bottom: calc(27/1280 * 100vw);
  border-bottom: 1px solid #0F364A;
  border-top: 1px solid #0F364A;
}

.president_wrap h3{
  margin-left:  calc(6/1280 * 100vw);
}

.president_box{
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.president_img{
  width:  calc(470/1280 * 100vw);
  height:  calc(350/1280 * 100vw);
  position: relative;
  border-radius: 3vw;
  border: 10px solid white;
  overflow: hidden;
}

.president_item {
  width: calc(450/1280 * 100vw);
}

.popup_button{
  background-color: transparent;
  color: inherit;
  letter-spacing: 0.3em;
}

.staff_box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.staff_item{
  width: fit-content;
}

.staff_img{
  width: calc(275/1280 * 100vw);
  height: calc(317/1280 * 100vw);
  border-radius: 2vw;
  border: 10px solid white;
  position: relative;
  overflow: hidden;
}

.info{
  padding: 0 calc(15/1280 * 100vw);
}

.popup {
  display: none;
  height: 100vh;
  width: 100%;
  background: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
}

.content{
  background: #fff;
  padding: 30px;
  width: 50%;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.modal_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.modal-content {
  background-color: #f4f4f4;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 0.3s;
  height: 66%;
  width: 90%;
  padding-top: calc(100/1280 * 100vw);
  padding-bottom: calc(60/1280 * 100vw);
  border-radius: 3vw;
  border: 2px solid #0F364A;
  position: relative;
}

.close_outline{
  position: absolute;
  top: calc(45/1280 * 100vw);
  right: calc(60/1280 * 100vw);
}

.close_button{
  position: relative;
  width: calc(40/1280 * 100vw);
  height: calc(30/1280 * 100vw);
}

.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modal-body {
  margin: 0 calc(70/1280 * 100vw);
  overflow: scroll;
  height: 100%;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}